header {
	background-color: black;
	color: white;
	text-align: right;
	font-size: 80%;
	font-family: sans-serif;
	margin-top: 0px;
	padding: 1px;
}

body {
	margin: 0px;
	margin-top: 0px;
}

main {
	margin: 50px;
	background-color: #E6E6FA;
	padding: 25px;
	border-radius: 25px;
	box-shadow: 8px 10px 10px 15px #888888;
}

h2 {
	background-color: #e6ccff;
	border-bottom: #ffffff 5px solid;
}

time {
	background-color: rgb(168, 113, 168);
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
	border-radius: 25px 25px;
	box-shadow: 2px 2px 4px 4px #ffffff;
	/*margin: 40%;*/
}

.fecha {
	text-align: center;
}

footer {
	background-color: rgb(47, 29, 47);
	color: rgb(236, 223, 236);
	padding: 5px;
	font-family: sans-serif;
	font-size: 80%;
	
}
