estilo.css

body {
	background-color: pink;
}

.box1 {
	margin:10px;
	padding: 10px;
	
	background-color: lightgreen;
	border: black solid 2px;
}

.box2 {
	margin:10px;
	padding: 10px;
	
	background-color: lightpink;
	border: black solid 2px;
}
	