@charset "utf-8";
/*
1. Conectar 
2. Título
*/

body {
	background-color: #f9d5e5;
	font-family: Courier New;
	font-size: 10;
}

h1 {
	font-family: Arial;
	color: #66757F;
	text-shadow: 1px 3px 5px #55ACEE;
}

.intro {
	border: #292F33, solid;
	text-align: center;
	
	text-transform: uppercase;
}
	
	